       /*! CSS Used from: https://www8.receita.fazenda.gov.br/SimplesNacional/Aplicacoes/ATSPO/pgmei.app/Content/css/pgmei?v=IzG-dsGSne-0Msjh0PFHg0a2hon61or3CN6PPvqqrV01 */
        html {
            font-family: sans-serif;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        body {
            margin: 0;
        }

        footer,
        header,
        section {
            display: block;
        }

        a {
            background-color: transparent;
        }

        a:active,
        a:hover {
            outline: 0;
        }

        strong {
            font-weight: 700;
        }

        img {
            border: 0;
        }

        button,
        input,
        textarea {
            margin: 0;
            font: inherit;
            color: inherit;
        }

        button {
            overflow: visible;
        }

        button {
            text-transform: none;
        }

        button {
            -webkit-appearance: button;
            cursor: pointer;
        }

        input {
            line-height: normal;
        }

        textarea {
            overflow: auto;
        }

        @media print {

            *,
            :after,
            :before {
                color: #000 !important;
                text-shadow: none !important;
                background: 0 0 !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
            }

            a,
            a:visited {
                text-decoration: underline;
            }

            a[href]:after {
                content: " (" attr(href) ")";
            }

            img {
                page-break-inside: avoid;
            }

            img {
                max-width: 100% !important;
            }

            h3,
            p {
                orphans: 3;
                widows: 3;
            }

            h3 {
                page-break-after: avoid;
            }

            .label {
                border: 1px solid #000;
            }
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        :after,
        :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        html {
            font-size: 10px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }

        button,
        input,
        textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

        a {
            color: #337ab7;
            text-decoration: none;
        }

        a:focus,
        a:hover {
            color: #23527c;
            text-decoration: underline;
        }

        a:focus {
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        img {
            vertical-align: middle;
        }

        h3,
        h4 {
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
        }

        h3 {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        h4 {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 18px;
        }

        p {
            margin: 0 0 10px;
        }

        .text-success {
            color: #3c763d;
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        @media (min-width:768px) {
            .container {
                width: 750px;
            }
        }

        @media (min-width:992px) {
            .container {
                width: 970px;
            }
        }

        @media (min-width:1200px) {
            .container {
                width: 1170px;
            }
        }

        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        .col-md-11,
        .col-md-12,
        .col-md-5,
        .col-md-8 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        @media (min-width:992px) {

            .col-md-11,
            .col-md-12,
            .col-md-5,
            .col-md-8 {
                float: left;
            }

            .col-md-12 {
                width: 100%;
            }

            .col-md-11 {
                width: 91.66666667%;
            }

            .col-md-8 {
                width: 66.66666667%;
            }

            .col-md-5 {
                width: 41.66666667%;
            }

            .col-md-offset-3 {
                margin-left: 25%;
            }

            .col-md-offset-1 {
                margin-left: 8.33333333%;
            }
        }

        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: 700;
        }

        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-control:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        }

        .form-group {
            margin-bottom: 15px;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn:active:focus,
        .btn:focus {
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        .btn:focus,
        .btn:hover {
            color: #333;
            text-decoration: none;
        }

        .btn:active {
            background-image: none;
            outline: 0;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        }

        .btn-success {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .btn-success:focus {
            color: #fff;
            background-color: #449d44;
            border-color: #255625;
        }

        .btn-success:hover {
            color: #fff;
            background-color: #449d44;
            border-color: #398439;
        }

        .btn-success:active {
            color: #fff;
            background-color: #449d44;
            border-color: #398439;
        }

        .btn-success:active:focus,
        .btn-success:active:hover {
            color: #fff;
            background-color: #398439;
            border-color: #255625;
        }

        .btn-success:active {
            background-image: none;
        }

        .label {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
        }

        .label:empty {
            display: none;
        }

        .label-success {
            background-color: #5cb85c;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }

        .panel-body {
            padding: 15px;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
            color: inherit;
        }

        .panel-default {
            border-color: #ddd;
        }

        .panel-default>.panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
        }

        .well {
            min-height: 20px;
            padding: 19px;
            margin-bottom: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        }

        .clearfix:after,
        .clearfix:before,
        .container-fluid:after,
        .container-fluid:before,
        .container:after,
        .container:before,
        .panel-body:after,
        .panel-body:before,
        .row:after,
        .row:before {
            display: table;
            content: " ";
        }

        .clearfix:after,
        .container-fluid:after,
        .container:after,
        .panel-body:after,
        .row:after {
            clear: both;
        }

        .pull-right {
            float: right !important;
        }

        .pull-left {
            float: left !important;
        }

        .btn-success {
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
        }

        .btn-success:active {
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        }

        .btn:active {
            background-image: none;
        }

        .btn-success {
            background-image: -webkit-linear-gradient(top, #5cb85c 0, #419641 100%);
            background-image: -o-linear-gradient(top, #5cb85c 0, #419641 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
            background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            background-repeat: repeat-x;
            border-color: #3e8f3e;
        }

        .btn-success:focus,
        .btn-success:hover {
            background-color: #419641;
            background-position: 0 -15px;
        }

        .btn-success:active {
            background-color: #419641;
            border-color: #3e8f3e;
        }

        .panel {
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

        .panel-default>.panel-heading {
            background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
            background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
            background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
            background-repeat: repeat-x;
        }

        .well {
            background-image: -webkit-linear-gradient(top, #e8e8e8 0, #f5f5f5 100%);
            background-image: -o-linear-gradient(top, #e8e8e8 0, #f5f5f5 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
            background-image: linear-gradient(to bottom, #e8e8e8 0, #f5f5f5 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
            background-repeat: repeat-x;
            border-color: #dcdcdc;
            -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
        }

        .ladda-button {
            position: relative;
        }

        .ladda-button .ladda-spinner {
            position: absolute;
            z-index: 2;
            display: inline-block;
            width: 32px;
            height: 32px;
            top: 50%;
            margin-top: 0;
            opacity: 0;
            pointer-events: none;
        }

        .ladda-button .ladda-label {
            position: relative;
            z-index: 3;
        }

        .ladda-button,
        .ladda-button .ladda-spinner,
        .ladda-button .ladda-label {
            -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
            -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
            -ms-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
            -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
            transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
        }

        .ladda-button[data-style=slide-left] {
            overflow: hidden;
        }

        .ladda-button[data-style=slide-left] .ladda-label {
            position: relative;
        }

        .ladda-button[data-style=slide-left] .ladda-spinner {
            left: 100%;
            margin-left: 0;
        }

        html,
        body {
            height: 100%;
        }

        .container-fluid {
            min-height: 100%;
            position: relative;
            max-width: 1440px;
        }

        .row {
            margin-right: auto !important;
            margin-left: auto !important;
        }

        header {
            padding: 1px 15px 1px 15px !important;
            margin-bottom: 1px !important;
            background-color: #eee;
            border-top: 3px solid;
            border-color: #62cb31;
            background-image: url("https://www8.receita.fazenda.gov.br/SimplesNacional/Aplicacoes/ATSPO/pgmei.app/Content/img/bkg_header_entes.png");
            background-repeat: no-repeat;
        }

        footer {
            margin-top: 0px;
            padding: 10px 18px 0px 40px !important;
            border-top: 1px solid #eaeaea;
            background-color: #e1dddd;
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 15px;
        }
 
        .panel.panel-default {
            -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
        }

        /* ============================
           Toast / Alert styling
        ============================ */
        #z8m3y {
            position: fixed;
            z-index: 999999;
        }

        #z8m3y * {
            box-sizing: border-box;
        }

        #z8m3y > div {
            position: relative;
            overflow: hidden;
            margin: 0 0 6px;
            padding: 15px 15px 15px 50px;
            width: 300px;
            border-radius: 3px;
            background-position: 15px center;
            background-repeat: no-repeat;
            box-shadow: 0 0 12px #999;
            color: #fff;
            opacity: .8;
        }

        #z8m3y > .m2v5h {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=")!important;
            background-color: #bd362f;
        }

        .n6p9w {
            background-color: #030303;
        }

        .toast-message {
            word-wrap: break-word;
        }

        .l8c3t {
            position: relative;
            right: -.3em;
            top: -.3em;
            float: right;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 1px 0 #fff;
            opacity: .8;
            background: transparent;
            border: 0;
        }

        .l8c3t:hover,
        .l8c3t:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            opacity: .4;
        }

        button.l8c3t {
            padding: 0;
            cursor: pointer;
            -webkit-appearance: none;
        }

        .toast-top-center {
            top: 100px;
            right: 0;
            width: 100%;
        }

        .toast-top-center#z8m3y > div {
            width: 50%;
            margin: auto;
            opacity: 1;
        }

        @media all and (max-width: 240px) {
            #z8m3y > div {
                padding: 8px 8px 8px 50px;
                width: 11em;
            }

            #z8m3y .l8c3t {
                right: -.2em;
                top: -.2em;
            }
        }

        @media all and (min-width: 241px) and (max-width: 480px) {
            #z8m3y > div {
                padding: 8px 8px 8px 50px;
                width: 18em;
            }

            #z8m3y .l8c3t {
                right: -.2em;
                top: -.2em;
            }
        }

        @media all and (min-width: 481px) and (max-width: 768px) {
            #z8m3y > div {
                padding: 15px 15px 15px 50px;
                width: 25em;
            }
        }